.App {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  background-color: #222831;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  padding-bottom: 70px;
}

.title {
  padding-bottom: 70px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.attributes {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  width: 600px;
  align-content: center;
}

.attributes-charStats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.attributes-other {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.boldText {
  font-weight: bold;
}